extends ../layout

block content
        .container
            .row
                .col-12.ms-auto.text-center
                    h1.bold #{title}
            .row 
                .col-12.mx-auto
                  h2.bold Bienvenido #{user.nombre} #{user.apellido}
                .col-12.ms-auto.me-auto
                  if(mensaje.length > 0)
                    .row.mx-auto
                        .col-5.mx-auto.mt-4.text-center
                        .alert.alert-info.alert-dismissible.fade.show(role='alert')
                            strong #{mensaje} 
                            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                  if(mensajeError.length > 0)
                    .row.mx-auto
                        .col-5.mx-auto.mt-4.text-center
                        .alert.alert-info.alert-dismissible.fade.show(role='alert')
                            strong #{mensajeError} 
                            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')