extends ../../layout
block content
        .container
            .row
                .col-12.ms-auto.text-center
                    h1(style="font-weight: bold") Gestion de Area asignada
            .row
                .col-12.text-center
                    h2 Empleado: #{empleado.nombre} #{empleado.apellido}
            .row
                .col-12.ms-auto.text-center
                    h3 Area actual: #{nombreA}
            .row.align-items-center
                .col-7.ms-auto.me-auto
                    - var url = empleado.dni + "?_method=PUT";
                    form(action="./"+url, method="post")
                        .mb-3.row
                            label.col-sm-3.col-form-label.bol(for="nombre") Area:
                            select.form-select.form-select-sm(name="area")
                                option(value= 0 ) No Asignada
                                each a in area
                                    if empleado.id_area == a.id_area
                                        option(value= a.id_area disabled="disabled") #{a.nombre_area}
                                    else 
                                        option(value= a.id_area) #{a.nombre_area}
                        .mb-3.row
                            .col-sm-6.ms-auto.me-auto
                                .d-grid.gap-2
                                    input.btn.btn-dark.btn-lg(type="submit", value="Actualizar")