extends ../layout 

block content
    .container
        .row
            .col-12.ms-auto.text-center
                h1(style="font-weight: bold")= title
        .row 
            .col-12.ms-auto.me-auto
                if(mensaje.length > 0)
                    .row.mx-auto
                        .col-5.mx-auto.mt-4.text-center
                        .alert.alert-info.alert-dismissible.fade.show(role='alert')
                            strong #{mensaje} 
                            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                if(mensajeError.length > 0)
                    .row.mx-auto
                        .col-5.mx-auto.mt-4.text-center
                        .alert.alert-info.alert-dismissible.fade.show(role='alert')
                            strong #{mensajeError} 
                            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                if(a > 0)
                    .alert.alert-danger.text-center(role='alert')(style="font-weight: bold") POSEES #{a} NOTIFICACION/ES NUEVA/S
                else 
                    .alert.alert-success.text-center(role='alert')(style="font-weight: bold") No hay nuevas notificaciones
        .row(style="padding-bottom: 1rem;")
            .col-7.ms-auto
                button.btn.btn-success.btn-sm(type="submit" onclick="location.href='./calidad'") Refrescar 
        .row
            .col-8.ms-auto.me-auto
                if(notific.length > 0)
                    table.table
                        tr.table-primary.text-center
                            th Fecha
                            th Estado
                            th Ver
                        each notif in notific
                            tr.table-info(style="font-weight: bold")   
                                td.text-center= notif.fecha.toLocaleString()
                                td.text-center= notif.estado
                                td.text-center 
                                    form(action="./calidad/ver/"+notif.id_notificacion, method="get")
                                        input.btn.btn-success.btn-lg(type="submit", value="Ver detalles")