extends ../layout

block content
    .bg-image(style="\
        background-image: url('../../images/usuario.jpg'); height: 100vh;")
        .container
            .row
                .col-10.ms-auto.text-center
                    h1(style="font-weight: bold") Seguimiento de solicitud
                .col-2.ms-auto.me-auto
                    .d-grid.gap-2
                        button.btn.btn-danger(type="submit", onclick="location.href='/cliente'")(style="font-weight: bold") VOLVER
            .row(style="padding-top: 3rem")
                .col
                    table.table
                        thead.bg-info.text-white
                        tr
                            th(scope='col') Fecha de ingreso
                            th(scope='col') Area 
                            th(scope='col') Fecha de egreso
                            th(scope='col') Estado
                            th(scope='col') Detalle razón de transpaso
                            th(scope='col') Detalle de solucion
                        each solic in solicitudes
                            tr
                                td(scope='row') #{solic.fecha_ingreso.toLocaleString()} 
                                td(scope='row') #{solic.Area.nombre_area}
                                td(scope='row') #{solic.fecha_egreso ? solic.fecha_egreso.toLocaleString() : solic.fecha_egreso}
                                td(scope='row') #{solic.estado}
                                td(scope='row') #{solic.detalle_razon}
                                td(scope='row') #{solic.detalle_solucion}