extends ../layout

block content
        .container
            .row
                .col-12.ms-auto.text-center
                    h1.bold Seguimiento de solicitud
            .row
                .col
                    table.table
                        thead
                            tr.bg-dark.text-white
                                th(scope='col') Fecha de ingreso
                                th(scope='col') Area 
                                th(scope='col') Fecha de egreso
                                th(scope='col') Estado
                                th(scope='col') Detalle razón de transpaso
                                th(scope='col') Detalle de solucion
                            each solic in solicitudes
                                tr
                                    td(scope='row') #{solic.fecha_ingreso.toLocaleString()} 
                                    td(scope='row') #{solic.Area.nombre_area}
                                    td(scope='row') #{solic.fecha_egreso ? solic.fecha_egreso.toLocaleString() : solic.fecha_egreso}
                                    td(scope='row') #{solic.estado}
                                    td(scope='row') #{solic.detalle_razon}
                                    td(scope='row') #{solic.detalle_solucion}