extends ../layout

block content
  .container
    .col-12.ms-auto.text-center
      h1.bold= title
    .row 
      .col-5.me-auto
        h2(style="font-weight: bold") Bienvenido #{empleado.nombre} #{empleado.apellido}
    .col-12.ms-auto.me-auto
      if(mensaje.length > 0)
          .row.mx-auto
              .col-5.mx-auto.mt-4.text-center
              .alert.alert-info.alert-dismissible.fade.show(role='alert')
                  strong #{mensaje} 
                  button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
      if(mensajeError.length > 0)
          .row.mx-auto
              .col-5.mx-auto.mt-4.text-center
              .alert.alert-info.alert-dismissible.fade.show(role='alert')
                  strong #{mensajeError} 
                  button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
  //.row
    .col
      button.btn.btn-warning(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal') Cambiar contraseña
      #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content(style="color:black")
            .modal-header
              h5#exampleModalLabel.modal-title Ingrese su antigua y nueva contraseña
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              .row.align-items-center
                .col-7.ms-auto.me-auto
                  form(name="registro", action=action, method="post")
                    .mb-3.row
                      label(for="antigua") Contraseña actual
                      input(type="password", name="antigua")
                    .mb-3.row
                      label(for="nueva") Contraseña nueva
                      input(type="password", name="nueva", id="nueva")
                    .mb-3.row
                      button.btn.btn-danger(type="submit", onclick="return validarContraseña()") Enviar
            .modal-footer
              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
  .row
    .col
      if(Solicitud.length > 0)
        .col-5.ms-auto.me-auto.text-center(style="padding-top: 3rem; padding-bottom: 1rem")
          h5.bg-dark.bold.text-white Estas son las tareas pendientes 
        table.table 
          tr.table-dark.text-center
            th Fecha de ingreso:
            th Detalle
            th Prioridad
            th Estado
            th Resolver
          each solic in Solicitud
            tr.bold 
              td.text-center= solic.fecha_ingreso.toLocaleString()
              td= solic.Solicitud.detalle
              td.text-center= solic.Solicitud.prioridad
              td.text-center= solic.estado
              td.text-center
                - var url = solic.id_solicitud + "/fecha/" + solic.fecha_ingreso;
                form(action="helpdesk/"+url, method="get")
                  input.btn.btn-success(type="submit", value="Atender")
      else
        .col-5.ms-auto.me-auto.text-center(style="padding-top: 3rem; padding-bottom: 1rem")
          h5.bg-dark.text-white.bold No se encontraron tareas pendientes.