extends ../layout

block content
  .container
    .col-12.ms-auto.text-center
      h1.bold= title
    .row 
    .col-12.ms-auto.me-auto
      if(mensaje.length > 0)
          .row.mx-auto
              .col-5.mx-auto.mt-4.text-center
              .alert.alert-info.alert-dismissible.fade.show(role='alert')
                  strong #{mensaje} 
                  button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
      if(mensajeError.length > 0)
          .row.mx-auto
              .col-5.mx-auto.mt-4.text-center
              .alert.alert-info.alert-dismissible.fade.show(role='alert')
                  strong #{mensajeError} 
                  button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
  .row
    .col
      if(Solicitud.length > 0)
        .col-5.ms-auto.me-auto.text-center(style="padding-top: 3rem; padding-bottom: 1rem")
          h5.bg-dark.bold.text-white Estas son las tareas pendientes 
        table.table 
          tr.table-dark.text-center
            th Fecha de ingreso:
            th Detalle
            th Prioridad
            th Estado
            th Resolver
          each solic in Solicitud
            tr.bold 
              td.text-center= solic.fecha_ingreso.toLocaleString()
              td= solic.Solicitud.detalle
              td.text-center= solic.Solicitud.prioridad
              td.text-center= solic.estado
              td.text-center
                - var url = solic.id_solicitud + "/fecha/" + solic.fecha_ingreso;
                form(action="helpdesk/"+url, method="get")
                  input.btn.btn-success(type="submit", value="Atender")
      else
        .col-5.ms-auto.me-auto.text-center(style="padding-top: 3rem; padding-bottom: 1rem")
          h5.bg-dark.text-white.bold No se encontraron tareas pendientes.