extends ../layout

block content
    .container
        .row
            .col-12.ms-auto.text-center
                h1(style="font-weight: bold") Atendiendo solicitud
        .row(style="padding-top: 3rem;")
            .col
                table.table
                    tr.bg-dark.text-white
                        th Fecha de ingreso:
                        th Detalle
                        th Prioridad
                        th Estado
                        th Contacto Cliente
                        th Razon de tranferencia
                    tr 
                        td.text-center= solic.fecha_ingreso.toLocaleString()
                        td= solic.Solicitud.detalle
                        td.text-center= solic.Solicitud.prioridad
                        td.text-center= solic.estado
                        td.text-center= s.Cliente.mail
                        td= solic.detalle_razon
        .row
            .col-5.ms-auto
                h3 Transferir:
                -var url = solic.id_solicitud + "/fecha/" + solic.fecha_ingreso;
                form(action="../../tranferir/"+url, method="post")
                    .mb-3.row
                        label.col-sm-3.col-form-label(for="prioridad") Prioridad: 
                        select.form-select.form-select-sm(name="prioridad")(style="font-weight: bold") 
                            option(value= solic.Solicitud.prioridad) #{solic.Solicitud.prioridad} 
                            option(value="Alta") Alta
                            option(value="Media") Media
                            option(value="Baja") Baja
                    .mb-3.row
                        label.col-sm-5.col-form-label(for="razon") Razon de Transferencia:
                        textarea(id="razon", name="razon", cols="30", rows="5", minlength="20" ,maxlength="200")
                    .mb-3.row
                        label.col-sm-4.col-form-label(for="area") Area a Transferir: 
                        select.form-select.form-select-sm(name="area")(style="font-weight: bold") 
                            each a in area
                                option(value= a.id_area) #{a.nombre_area}
                    .mb-3.row
                        .col-sm-6.ms-auto.me-auto
                            .d-grid.gap-2
                                input.btn.btn-dark.btn-lg(type="submit",onclick="return validarRazon()", value="Transferir")
            .col-5.ms-auto
                h3 Solucionar:
                form(action="../../solucionar/"+url, method="post")
                    .mb-3.row
                        label.col-sm-3.col-form-label(for="prioridad") Prioridad:
                        select.form-select.form-select-sm(name="prioridad")(style="font-weight: bold") 
                            option(value= solic.Solicitud.prioridad) #{solic.Solicitud.prioridad} 
                            option(value="Alta") Alta
                            option(value="Media") Media
                            option(value="Baja") Baja
                    .mb-3.row
                        label.col-sm-5.col-form-label(for="solucion") Detalles de solucion
                        textarea(id="solucion", name="solucion", cols="30", rows="5", minlength="20" ,maxlength="200")
                    .mb-3.row
                        label.col-sm-4.col-form-label(for="estado") Estado: 
                        select.form-select.form-select-sm(name="estado")(style="font-weight: bold") 
                            option(value="-" disabled="disabled", selected="true") -----
                            option(value="Resuelto") Resuelto
                            option(value="No resuleto") No resuelto
                    .mb-3.row
                        .col-sm-6.ms-auto.me-auto
                            .d-grid.gap-2
                                input.btn.btn-dark.btn-lg(type="submit", onclick="return validarSolucion()", value="Solucinar")