extends ../../layout
block content
    .bg-image(style="\
        background-image: url('../../images/empleado.jpg'); height: 100vh;")
        .container(style="color:white")
            .row
                .col-10.ms-auto.text-center
                    h1.bg-dark Gestion de Clientes
                //.col-2.ms-auto.me-auto
                    .d-grid.gap-2
                        button.btn.btn-danger(type="submit", onclick="location.href='/admin'")(style="font-weight: bold") VOLVER 
                .col-12.ms-auto.me-auto
                    if(mensaje.length > 0)
                        row.mx-auto
                            .col-5.mx-auto.mt-4.text-center
                            .alert.alert-info.alert-dismissible.fade.show(role='alert')
                                strong #{mensaje} 
                                button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
            .row(style="padding-top: 3rem; padding-bottom: 3rem")
                .col
                    if (cliT>=1) 
                        table.table
                            thead.bg-dark.text-white
                                tr
                                    th(scope='col') DNI
                                    th(scope='col') Nombre
                                    th(scope='col') Apellido 
                                    th(scope='col') Mail
                                    th(scope='col') Celular
                                    th(scope='col') Estado
                                    th(scope='col') Fecha Creacion 
                                    th(scope='col') Cambiar Estado
                            each cliente in Clientes
                                tr
                                    td(scope='row') #{cliente.dni}
                                    td(scope='row') #{cliente.nombre}
                                    td(scope='row') #{cliente.apellido}
                                    td(scope='row') #{cliente.mail}
                                    td(scope='row') #{cliente.celular}
                                    if(cliente.estado == 1 )
                                        td.text-center.bg-success Activo
                                    else 
                                        td.text-center.bg-danger Desactivo
                                    td(scope='row') #{cliente.fecha_creacion}
                                    td(scope='row')
                                        form(action="/admin/cliente/"+cliente.dni, method="get")
                                            if cliente.estado < 1
                                                input.btn.btn-success(type="submit", value="Activar")
                                            else
                                                input.btn.btn-danger(type="submit", value="Desactivar")
                    else
                        .col.ms-auto.me-auto.text-center
                            h3 No se encontraron clientes 
